.active
{
  background-color:blue ;
}


.btn{
background-color: rgb(245, 68, 227);
}

.hight{
background-color: #FF0800;
}


.medium{
  background-color: #9966CC;
  }

  .low{
    background-color: #FFEF00;
    }
