<app-navbar></app-navbar>
<div class="containerall">
  <br>
  <br>
  <br>
  <h2 class="section-title">Room List</h2>

  <!-- Add button container -->
  <div class="button-container">
    <button class="add-room-button" mat-raised-button (click)="openDialog()">Add Room </button>
  </div>

  <div class="container">
    <div class="cards">
      <div class="card shadow">
        <img src="assets/room0.jpg" alt="Room 105" class="card-img">
        <div class="textBox">
          <div class="textContent">
            <p class="h1">Room 105</p>
            <span class="span">12 min ago</span>
          </div>
          <p class="p">description</p>
        </div>
      </div>
    </div>
  </div>
</div>
