<app-navbar></app-navbar>
<div class="containerall">
  <br>
  <br>
  <br>


  <!-- Add button container
  <div class="button-container">
    <button class="add-room-button" mat-raised-button (click)="openDialog()">Add Room </button>
  </div> -->
  <header>
    <div class="description-container">
        <h1>Choose your Bloc</h1>
        <p>This is a brief description about the website. Here you can find various projects, articles, and resources.</p>
    </div>
</header>
  <!--<div class="container">
    <div class="cards">
      <div class="card shadow">
        <img src="assets/room0.jpg" alt="Room 105" class="card-img">
        <div class="textBox">
          <div class="textContent">
            <p class="h1">Room 105</p>
            <span class="span">12 min ago</span>
          </div>
          <p class="p">description</p>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="card-container" routerLink="/rooms">
  <div class="card">
    <div class="card-image">
      <img src="assets/room0.jpg" alt="Room 105" class="card-img">
    </div>
    <div class="category">BLOC 1</div>
    <div class="heading">capacity: 25
      <div class="author"><span class="name">Etage 1</span></div>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="assets/room0.jpg" alt="Room 105" class="card-img">
    </div>
    <div class="category">BLOC 2</div>
    <div class="heading">capacity: 30
      <div class="author"><span class="name">Etage 3</span></div>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="assets/room0.jpg" alt="Room 105" class="card-img">
    </div>
    <div class="category">BLOC 3</div>
    <div class="heading">capacity: 22
      <div class="author"><span class="name">Etage 3</span></div>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="assets/room0.jpg" alt="Room 105" class="card-img">
    </div>
    <div class="category">BLOC 4</div>
    <div class="heading">capacity: 26
      <div class="author"><span class="name">Etage 2</span></div>
    </div>
  </div>

</div>

