<div class="hero">
  <section class="container">
    <header>Add Room</header>
    <form class="form" action="#">
        <div class="input-box">
            <label>Room Number</label>
            <input required="" placeholder="Enter full name" type="text">
        </div>
        <div class="input-box">
          <label>Room Type</label>
          <input required="" placeholder="Enter email" type="text">
      </div>
      <button mat-raised-button (click)="openDialog()">opentttttttt </button>
       </form>
  </section>
  </div>
  <app-menu/>
