<div class="form-container">
  <h2>New Dormitories</h2>
  <form>
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="Your Name" formControlName="nomFoyer" required>

    <label for="age">Capacity</label>
    <input type="text" id="age" placeholder="Your Age" formControlName="capaciteFoyer" required>

    <label for="room-image">Dormitorie image</label>
    <input type="file" id="room-image" accept="image/*" required>

    <div class="form-actions">
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
